:root {
  --black: #222;
  --white: #fff;
  --white1: #f4f6f7;
  --grey: #d6d6d6;
  --blue: #096de0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin-top: 0 !important;
}

html, body {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1;
}

a {
  outline: none;
  border-bottom: 1px solid var(--theme-main);
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  touch-action: manipulation;
  transition: 0.3s all;
}

button {
  outline: none;
  border-color: transparent;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-MediumItalic.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/local/html/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-family: "Open-Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--black);
}

.h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 1199.98px) {
  .h-lg-28 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 1199.98px) {
  .h-lg-36 {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 1199.98px) {
  .h-lg-48 {
    font-size: 48px;
    line-height: 64px;
  }
}

@media (max-width: 767.98px) {
  .h-sm-18 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 767.98px) {
  .h-sm-28 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 767.98px) {
  .h-sm-36 {
    font-size: 36px;
    line-height: 48px;
  }
}

p {
  margin: 0;
  padding: 0;
}

.p1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.p2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.p2--lh {
  line-height: 28px;
}

.p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.p4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.p5 {
  font-weight: 40;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 767.98px) {
  .p-sm-18 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 767.98px) {
  .p-sm-16 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 991.98px) {
  .p-md-18 {
    font-size: 18px;
    line-height: 24px;
  }
}

.button {
  display: flex;
  justify-content: center;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.button--red {
  border: 1px solid #ad1a25;
  color: var(--white);
  background-color: #ad1a25;
}

.button--red:hover {
  border: 1px solid #8d141d;
  background-color: #8d141d;
}

.button--md {
  padding: 9px 15px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-content: center;
  gap: 24px;
}

.menu-item a {
  color: var(--black);
}

.menu-item a:hover {
  color: var(--blue);
}

.header {
  padding: 16px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.header__logo {
  width: 246px;
}

.header__logo-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__navigation {
  margin-left: auto;
}

.header__booking {
  font-weight: 600;
}

.header--border-shadow {
  box-shadow: 0px 10px 15px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 48px;
}

.footer {
  padding: 24px 0 12px;
  min-height: 100px;
  background-color: #001a2d;
}

.footer__main {
  display: grid;
  grid-template-areas: "footer-logo footer-navigation footer-payment" "footer-contacts footer-navigation footer-social";
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 24px;
  color: var(--grey);
  gap: 24px;
}
@media (max-width: 767.98px) {
  .footer__main {
    grid-template-areas: "footer-logo" "footer-navigation" "footer-contacts" "footer-social" "footer-payment";
    grid-template-columns: 1fr;
  }
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--grey);
}

.footer__logo {
  grid-area: footer-logo;
  border-radius: 8px;
  padding: 12px;
  width: 135px;
  background: rgba(255, 255, 255, 0.6);
}

.footer__logo-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__link {
  color: var(--grey);
}

.footer__link:hover {
  color: var(--blue);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  grid-area: footer-contacts;
  gap: 8px;
}

.footer__social {
  display: flex;
  align-items: center;
  grid-area: footer-social;
  gap: 12px;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  transition: 0.5s all;
}

.footer__social-item:hover {
  transform: scale(1.2);
  transition: 0.5s all;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__navigation {
  grid-area: footer-navigation;
}

.footer__navigation .menu-item a {
  color: var(--grey);
}

.footer__navigation .menu-item a:hover {
  color: var(--blue);
}

.footer__navigation .menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.footer__payment {
  grid-area: footer-payment;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 508px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 928px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1312px;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.main-banner {
  position: relative;
  padding: 48px 0;
  height: 650px;
}

.main-banner__background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.main-banner__background::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 230, 230, 0.2);
  inset: 0;
}

.main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner__logo {
  position: relative;
  z-index: 5;
  margin: 0 auto 32px;
  width: 200px;
}

.room {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: 300px;
  box-shadow: 0 0 24px 5px rgba(34, 60, 80, 0.2);
}
@media (max-width: 991.98px) {
  .room {
    grid-template-columns: 1fr;
  }
}

.room__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room__info {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
}

.room__slider {
  height: 100%;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.page {
  margin-bottom: 80px;
}

.page__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
@media (max-width: 767.98px) {
  .page__title {
    font-size: 28px;
    line-height: 36px;
  }
}

#block-search, #block-search * {
  box-sizing: border-box;
}

#block-search {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
}

.tl-container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1254px;
}

#tl-booking-form {
  margin: 0 auto;
  width: 100%;
  max-width: 1265px;
}

.travelline-search {
  position: relative;
  z-index: 5;
}

.payment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.payment__picture {
  border-radius: 4px;
  padding: 5px 12px;
  height: 45px;
  background-color: var(--white);
}

.payment__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
