.rooms {
  @include sectionMarginBottom;

  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.rooms__item:hover .room {
  box-shadow: 0 0 24px 5px rgba(34, 60, 80, 0.2);
  transition: 0.5s all;
}
