.p-sm-18 {
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 24px;
  }
}

.p-sm-16 {
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 20px;
  }
}
