.section {
  @include sectionMarginBottom;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 24px;
  }
}
