*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin-top: 0!important;
}

html, body {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1;
}

a {
  outline: none;
  border-bottom: 1px solid var(--theme-main);
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  touch-action: manipulation;
  transition: 0.3s all;
}

button {
  outline: none;
  border-color: transparent;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}
