$roomsItemHeight: 300px;

.room {
  display: grid;
  grid-template-columns: 365px auto;
  height: 100%;
  box-shadow: 0 0 24px 5px rgba(34, 60, 80, 0.2);

  @include media-breakpoint-down(lg) {
    grid-template-columns: 365px auto;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: 330px auto;
  }

  @include media-breakpoint-down(sm) {
    grid-template-rows: 215px auto;
  }
}

.room__slider {
  width: 100%;
  height: 100%;
}

.rooms__item {
  height: $roomsItemHeight;

  @include media-breakpoint-down(md) {
    height: auto;
  }
}

.room__slide {
  width: 100% !important;
}

.room__image-link {
  display: block;
  height: $roomsItemHeight;

  @include media-breakpoint-down(md) {
    height: 100%;
  }
}

.room__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room__info {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;

  @include media-breakpoint-down(sm) {
    padding: 16px;
  }
}

.room__about {
  @include media-breakpoint-up(lg) {
    align-self: end;
    margin-top: auto;
  }

  @include media-breakpoint-down(md) {
    margin-top: 24px;
    padding: 15px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 16px;
  }
}

.room__category {
  color: var(--grey1);
}

.room__description {
  display: -webkit-box; /* stylelint-disable-line */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
