.room-detail__banner {
  @include sectionMarginBottom;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  height: 600px;
  gap: 32px;

  @include media-breakpoint-down(sm) {
    height: 430px;
  }

  @include media-breakpoint-down(xs) {
    height: calc(100vh - 75px);
  }
}

.room-detail__banner-swiper {
  position: absolute;
  z-index: 0;
  width: 100%;
  inset: 0;
}

//.room-detail__banner-swiper::before {
//  content: "";
//  position: absolute;
//  z-index: 5;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(255, 230, 230, 0.2);
//  inset: 0;
//}

.room-detail__banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.room-detail__banner-content {
  position: relative;
  z-index: 10;
}

.room-detail__banner-content .page__title {
  color: var(--white);
}

.room-detail__grid {
  display: grid;
  gap: 0 24px;
}

.room-detail__grid--two-col {
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.room-detail__equipment ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding-left: 20px;
  gap: 2px 28px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(1, 1fr);
  }
}
