.link {
  outline: none;
  border-bottom: none;
  text-decoration: none;
  transition: 0.3s all;
  cursor: pointer;
  touch-action: manipulation;
}

.link:hover {
  color: var(--blue);
}

@import "link--red";
@import "link--bold";
