.menu {
  display: flex;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.menu-item a {
  color: var(--black);
}

.menu-item a:hover {
  color: var(--blue);
}

